<ion-header>
  <ion-toolbar color="dark">
      <ion-title size="large" class="ion-text-center ion-align-items-center">ZNmarcket</ion-title>
      <ion-card slot="start" color="dark">
          <ion-button (click)="openHome()" color="dark">
              <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
             <span class="ion-hide-sm-down" style="padding-left: 3%">Voltar</span>
            </ion-button>
      </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--aplicar foto -->

    <ion-item>
        <ion-label position="stacked">Nome do Produto</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="stacked">Descrição do Produto</ion-label>
          <ion-input></ion-input>
        </ion-item>
      <ion-item>
          <ion-label position="stacked">Quantidade</ion-label>
          <ion-input></ion-input>
        </ion-item>
           
       <ion-item>
          <ion-label>Data de fabricação</ion-label>
          <ion-datetime display-format="DD.MMMM.YY"></ion-datetime>
        </ion-item>
        
       <ion-item>
         <ion-label>Validade</ion-label>
         <ion-datetime display-format="DD.MMMM.YYYY"></ion-datetime>
       </ion-item>
      <ion-item>
          <ion-label position="stacked">Fornecedor</ion-label>
          <ion-input></ion-input>
        </ion-item>
        
         <ion-button (click)="showModal()" expand="block" fill="clear" shape="round" color="dark">
           Localização
         </ion-button>

         <ion-button  expand="block" fill="clear" shape="round" color="primary">
            Registrar Produto
          </ion-button>
            
         
       

</ion-content>
