<ion-header>
  <ion-toolbar color="dark">
    <ion-title size="large" style="margin: 1.5%;text-align: center ;">ZN marcket</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content color="">
  <ion-grid fixed>
    <ion-row>
      <ion-item-divider color="dark">
        <ion-label style="text-align: center;"> carne </ion-label>
      </ion-item-divider>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item-divider color="dark">
        <ion-label style="text-align: center;"> Leite e derivados </ion-label>
      </ion-item-divider>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item-divider color="dark">
        <ion-label style="text-align: center;"> Frutas </ion-label>
      </ion-item-divider>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item-divider color="dark">
        <ion-label style="text-align: center;"> Oleos e Gorduras </ion-label>
      </ion-item-divider>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item-divider color="dark">
        <ion-label style="text-align: center;"> Açucares e Doces </ion-label>
      </ion-item-divider>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item-divider color="dark">
        <ion-label style="text-align: center;"> Carboidratos </ion-label>
      </ion-item-divider>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>