<ion-header>
  <ion-toolbar color="dark">
    <ion-title size="large" class="ion-text-center ion-align-items-center">ZNmarcket</ion-title>
    <ion-card slot="end" color="dark">
        <ion-button  (click)="openAddProduto()"color="dark">
            <ion-icon slot="icon-only" name="duplicate-sharp"></ion-icon>
           <span class="ion-hide-sm-down" style="padding-left: 3%"> Adicionar um produto</span>
          </ion-button>
    </ion-card>

  </ion-toolbar>

</ion-header>

<ion-content color="">
  <ion-grid fixed>
    <ion-row>
      <ion-item-divider color="dark">
        <ion-label style="text-align: center;"> carne </ion-label>
      </ion-item-divider>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item-divider color="dark">
        <ion-label style="text-align: center;"> Leite e derivados </ion-label>
      </ion-item-divider>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item-divider color="dark">
        <ion-label style="text-align: center;"> Frutas </ion-label>
      </ion-item-divider>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item-divider color="dark">
        <ion-label style="text-align: center;"> Oleos e Gorduras </ion-label>
      </ion-item-divider>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item-divider color="dark">
        <ion-label style="text-align: center;"> Açucares e Doces </ion-label>
      </ion-item-divider>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item-divider color="dark">
        <ion-label style="text-align: center;"> Carboidratos </ion-label>
      </ion-item-divider>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="font-size: 0.6rem;">foto</ion-card-subtitle>
            <ion-card-title style="font-size: 1.0rem;">Nome do Produto</ion-card-title>
            <ion-card-subtitle style="font-size: 0.6rem;">Preço</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>